body {
    background-color: #454545;
}

a {
    font-family: 'Courier New', Courier, monospace !important;
}

h3 {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
}

p {
    font-family: 'Courier New', Courier, monospace !important;
}

.center {
    justify-items: center !important;
}

.paper {
    width: 85vw !important;
    outline: invert !important;
    margin: auto !important;
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
}

.paper-btn-margin {
    font-family: 'Courier New', Courier, monospace !important;
}

#GRAYphoto {
    border: 0 !important;
}

.background-text {
    color: #555555
}